/*Reset*/

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*Common*/

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.buttons {
    display: inline-block;
    padding: 7px 19px;
    background-color: #0061ff;
    border: 0ch;
    color: white;
}


.container-hf {
    width: 85%;
    max-width: 1200px;
}

.container-section {
    width: 70%;
    max-width: 1000px;
}

i {
    margin-right: 3px;
}

/*Header*/

header{
    width: 100%;
    height: 70px; 
    padding: 20px;
    position: fixed;
    top:0;
    z-index: 1;
    background-color: white;
}

.header-left, .header-right{
    width: 50%;
    float:left;  
}

.header-right {
    text-align: right;
}

.logo{
    display: inline-block;
    margin-right: 20px;
   
}

nav, nav li, .start, .img-logo {
    display: inline-block;  
    vertical-align: middle;
}


li a {
    text-decoration: none;
    color: black;
    margin: 0 20px;
}

.start {
    margin-left: 20px;
}


/* Hero*/

.hero {
    background-color: #b4d0e7;
    margin-top: 70px;
    padding-top: 70px;
}


.hero-col {
    position: relative;
    bottom: -50px;
}

h1 {
    font-size: 61px;
}

.hero-left, .hero-right{
    float:left;  
}

.hero-left {
    width: 35%;
}

.hero-right {
    width: 65%;
}

.fa-arrow-down {
    font-size: 30px;
}

.img1 {
    width: 100%;
}

.hero-text .buttons {
    margin-bottom:20px;
}

.hero-text p {
    margin-bottom: 20px;
}


/*Sezione Piani*/

.piani {
    margin-top: 100px;
    padding-top: 70px;
}

.scelta {
    display: inline-block;
    margin: 40px 20px 30px 0px;
}



.piani-left, .piani-center, .piani-right{
    float:left;  
    height: 800px;
    width: calc(33.3% - 20px);
    border: 1px solid #d0d0d3;
}

.piani-center {
    margin: 0 30px;
}

.intestazione {
    line-height: 40px;
    text-align: center;
    height: 40px;
    border-bottom: 1px solid #d0d0d3;
}



.descrizione-piano {
    width: 80%;
    padding-top:15px;
}

.descrizione-piano p {
    font-size: 12px;
}

.condizioni-piano {
    line-height: 2;
}

.spazio-piano p {
    margin-bottom: 20px;

}
.time {
    color: #667683;
    margin-bottom: 40px;
}

.prova .buttons {
    width: 100%;
    margin: 30px 0 25px 0;
}

.prova a {
    color: #0061ff;
    font-weight: bold;
    font-size: 12px;
    margin-left: 3px;
}

.prova p {
    display: inline-block;
    border-bottom: 1px solid #d0d0d3;
    padding-bottom: 30px;
}

.elenco-punti {
    padding-top: 40px;
}

h4 {
    margin-bottom: 20px;
}
ul {
    list-style: none;
}

ul li {
    margin-bottom: 20px;
    font-size: 12px;
}

.fa-check {
    color: #0061ff;
}

/*Sell contact*/

.sell-contact {
    margin-top: 40px;
    border: 1px solid #d0d0d3;
}

.sell-container {
    padding: 30px;
    line-height: 2;
}

.sell-left, .sell-right {
    float: left;
}
.sell-left {
    width: 70%;
}

.sell-right {
    width: 30%;
}

.sell-container p {
    font-size: 12px;
}

.contact-button .buttons {
    width: 100%;
}